/* Theme Name: Residence Project
Author:Alfatech Solution Sdn Bhd
Version: 2.0.0
File Description: Place here your custom CSS styles
*/

.img-bg {
  background: url(../img/bg5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
  background : rgba(0,0,0,0.20);
  height: 90px;
}

a.nav.navbar-nav.navbar-right {
    margin: 0px;
}

.loginscreen2 {

    border: 1px solid #eee;
    background: rgba(66, 65, 65, 0.8);
    /* background : rgba(255,255,255,0.2); */
    padding: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    min-width: 400px;
    /* margin-top:50px; */
}

.loginscreen-logo {
    padding-top: 80px;
    padding-bottom: 20px;
    border-radius: 10px;
    min-width: 400px;
}

.wclr{
  color:rgb(255, 255, 255);
  font-weight:900;
  font-size:16px;
}

.wclrft{
  color:rgb(255, 255, 255);
  font-weight:900;
  font-size:14px;
}

@media only screen and (max-width: 600px) {
    .loginscreen2 {
        min-width: 320px;
    }
}